<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/show.css' ) }}">
    <title>{{ title }}</title>
</head>
<body>
<div class="container">
    <div class="wrapper">
    <h1 class="title">Some text</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque itaque maiores perspiciatis!
        Atque consequuntur, cumque dolor explicabo mollitia nostrum omnis pariatur possimus quam quas
        quasi quis sapiente sed sit, voluptates?
    </p>
    <section class="content">
        <h1>About product</h1>
        <img class="product-img" src="{{ url_for('static', filename='images/product.jpeg' ) }}" width="200px">
    </section>
        <a class="button" href="https://www.python.org/" target="_blank"> Python </a>
        <h2 style="color: yellow;">{{ my_list[1:3] }}</h2>
        <ol>
            {% for n in my_list %}
                <li style="color: yellow;">{{ n }}</li>
            {% endfor %}
        </ol>

        <h3 style="color: yellow;">{{ txt }}</h3>

    </div>
</div>
</body>
</html>